{% extends 'Clothes/base.html' %}
{% block divchik %}    
    <div class="header"> 
{% endblock divchik %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>не все изображения растянуты пока по рамкам</p>
    <p>на сайте выложена пока не вся одежда что есть у брендов</p>
    <p>некоторые данные, вроде цены, могут не соответствовать действительности, ес че пишите, уточню</p>
    <p>нн'ов не выкладываю</p>
    <p>я срал на авторские права</p>
</body>
</html>
{% endblock content%}